.Modal {
    position: fixed;
    z-index: 400;
    background-color: white;
    width: 70vh;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    left: 15%; 
    top: 15%; 
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
