.slider{
    position: relative;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(247, 242, 242, 0.197);
    padding: 4px;
}
.slide{
    position: relative;
    left: 0px;
    align-items: center;
    min-width: 33%;
    height: 92%;
    transition: 0.5s;
    overflow: hidden;
    padding: 0px 10px;
    margin-right: 2px;
}
%btn-styles{
    transform: translateY(-50%);
    position: absolute;
    background: none;
    border: none;
    top:50%;
    align-items: center;
    width: 5%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background: rgba(0, 0, 0, 0.396);
    }
    i{
        font-size: 3vw;
        color: rgba(245, 245, 245, 0.792);
    }
    outline: none;
}
#goLeft{
    left: 0;
    @extend %btn-styles;
}
#goRight{
    right: 0;
    @extend %btn-styles;
}